@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('./fonts/glyphicons-halflings-regular.eot');
  src: url('./fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('./fonts/glyphicons-halflings-regular.woff') format('woff'), url('./fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('./fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
a{
	text-decoration: none;
}
.type_controll div,.type_controll select{
	display: inline-block;
	vertical-align: top;
}
.type_controll div{
}
.type_controll span.type_selected{
	border: 1px solid #777;
	margin: 0 3px;
	padding: 0 4px;
	height:23px;
	line-height:23px;
}

.type_container{
	margin:0;
	padding:0 0 0 20px;
	box-shadow: 0 0 3px #CCCCCC inset;
}
.type_item{
	line-height:24px;
	min-height:24px;
	font-size:12px;
	position:relative;
}

.type_item_text{
	height:24px;
	padding:4px 24px 3px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.type_odd_0{
	background:#FFFFBB;
}
.type_odd_container_0{
	background:#DDFF77;
}
.type_even_0{
	background:#EEFFBB;
}
.type_even_container_0{
	background:#DDFF77;
}

.type_odd_1{
	background:#BBFFEE;
}
.type_odd_container_1{
	background:#77FFCC;
}
.type_even_1{
	background:#AAFFEE;
}
.type_even_container_1{
	background:#77FFEE;
}

.type_odd_2{
	background:#CCEEFF;
}
.type_odd_container_2{
	background:#77DDFF;
}
.type_even_2{
	background:#CCDDFF;
}
.type_even_container_2{
	background:#99BBFF;
}

.type_odd_3{
	background:#F0BBFF;
}
.type_odd_container_3{
	background:#E38EFF;
}
.type_even_3{
	background:#FFB3FF;
}
.type_even_container_3{
	background:#FF77FF;
}

.type_item_text>.btns{
	display:none;
	position:absolute;
	right:0px;
	top:0px;
	height:32px;
	width:96px;
}
.type_item_text:hover>.btns{
	display:inline-block;
}
.icon {
	cursor:pointer;
	width:20px;
	height: 20px;
    margin: 6px;
	padding:0;
	color:#FFF;
	font-family: 'Glyphicons Halflings';
	font-size:12px;
	font-weight:700;
	line-height:20px;
	text-align:center;
	border: 0 none;
	border-radius: 10px;
    text-shadow: 0 2px 2px #444;
	display:inline-block;
}

.pencil:before {
  content: "\270f";
}
.plus:before{
  content:'\2b';
}
.remove:before {
  content: "\e014";
}
.icon:hover {
	text-shadow: 0 2px 2px #f00;
}
.icon:active{
	color:#CCC;
}

.type_item input.input-tip{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    font-size: 12px;
    height: 14px;
    left: 10px;
    line-height: 14px;
    outline: medium none;
    padding: 5px 0;
    position: relative;
	margin:4px 0;
}

.type_item input.input-btn {
	height:22px;
	margin:5px 4px;
	padding:0 5px;
	color:#FFF;
	border: 0 none;
	background:-moz-linear-gradient(top,#307DCA,#205575);/*非IE6的其它*/
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#307DCA), to(#205575));/*非IE6的其它*/
	border-radius: 3px;
    box-shadow: 0 1px 2px #B0B3B6;
}

.type_item input.input-btn:hover {
	background:-moz-linear-gradient(top,#1A5275,#205575);/*非IE6的其它*/
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#1A5275), to(#205575));/*非IE6的其它*/
}
.type_item input.input-btn:active{
	background:-moz-linear-gradient(top,#144465,#194C6D);/*非IE6的其它*/
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#144465), to(#194C6D));/*非IE6的其它*/
}

.row{
	margin:4px;
	padding:0;
}

.orders_container{
	width:800px;
	margin:20px auto;
}

.order_container{
	background-color: #F7F7F9;
    border:1px solid #DDDDDD;
    box-shadow: none;
	margin-bottom:15px;
}

.order_content{
	margin:0;
	background-color: #FFF;
	padding:5px 10px;
}

.order_content .right{
	float: right;
}

.item_container .right{
	display: none;
	float: right;
}
.item_container:hover .right{
	display: inline-block;
}

.items_container{
	border-top:1px solid #DDDDDD;
}
.order_content>div{
	display:inline-block;
	vertical-align: top;
}
.order_desc{
	width:320px;
}
.order_desc.small{
	width:240px;
}
.order_spend{
	width:80px;
}

.order_fund{
	width:200px;
	font-size:12px;
}

.item_container{
	padding:3px 10px;
	border-bottom:1px solid #DDDDDD;
}

.item_container:last-child{
	padding:3px 10x;
	border-bottom:none;
}

.item_container>div{
	display:inline-block;
	vertical-align: top;
}

.item_desc{
	width:320px;
}
.item_desc.small{
	width:160px;
}

.item_spend{
	width:96px;
}

.order_content>div>input{
	border: 1px solid #dadada;
	height: 23px;
	width: 96%;
	padding: 0 2%;
	display: block;
}
.order_fund>div{
	vertical-align: top;
}
.chzn-container-single a.chzn-single{
	border-radius: 0;
}
.chzn-container-single div.chzn-drop{
	border-radius: 0;
}

.item_container>div>input{
	border: 1px solid #dadada;
	height: 23px;
	width: 96%;
	padding: 0 2%;
	display: block;
}
.type_content{
	height: 25px;
	padding: 0;
	margin: 0;
}

.type_content>div{
	display: inline-block;
	vertical-align: top;
}

.type_content .selected a{
    border: 1px solid #DEDEDE;
    display: inline-block;;
    height: 17px;
    line-height: 19px;
    margin: 3px;
    padding: 0 9px 0 8px;
}
.type_content .selected a span.text{
    color: #6D6D6D;
    cursor: pointer;
    float: left;
    font-size: 12px;
    line-height: 17px;
}

.type_content .selected a .remove {
    background: url("images/remove.png") no-repeat scroll 0px 0px rgba(0, 0, 0, 0);
    float: left;
    height: 7px;
    margin: 5px 0 0 5px;
    overflow: hidden;
    width: 7px;
}
.type_content .selected a .remove:before{
	content: "";
}

.btn {
	height:21px;
	margin:2px 4px;
	padding:0 5px;
	color:#FFF;
	border: 0 none;
	background:-moz-linear-gradient(top,#307DCA,#205575);/*非IE6的其它*/
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#307DCA), to(#205575));/*非IE6的其它*/
	border-radius: 3px;
    box-shadow: 0 1px 2px #B0B3B6;
}

.btn:hover {
	background:-moz-linear-gradient(top,#1A5275,#205575);/*非IE6的其它*/
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#1A5275), to(#205575));/*非IE6的其它*/
}
.btn:active{
	background:-moz-linear-gradient(top,#144465,#194C6D);/*非IE6的其它*/
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#144465), to(#194C6D));/*非IE6的其它*/
}



.alert_container{
    background: #353535;
    border: 3px solid #fff;
    width: 320px;
    position: absolute;
    top: 70px;
    color: #FFF;
    z-index: 2000;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    box-shadow: 2px 2px 2px rgba(0,0,0,.5);
    border-radius: 16px;
    padding: 0 16px;
}